<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>欢迎进入库存管理系统</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/offcanvas.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="/static/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/static/js/html5shiv.min.js"></script>
      <script src="/static/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <div id="messages">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role = "alert">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    </div>

  <body>
    <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">导航</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/demo/">库存管理系统</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class=""><a href="/pinlei/pinleilist/">品类管理</a></li>
            <li class=""><a href="/gongyingshang/gongyingshanglist/">供应商管理</a></li>
            <li class=""><a href="/hetong/hetonglist/">合同管理</a></li>
            <li class=""><a href="/fukuan/fukuangllist">付款管理</a></li>
            <li class=""><a href="/kucun/kucunlist">库存管理</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
{% if not request.user.is_authenticated %}
            <li><a href="/accounts/login/">Login</a></li>
                <li><a href="/accounts/logout/">Logout</a></li>
{% else %}
              <p class="text-info">{{ request.user }}您好！<a class="text-danger" href="/accounts/logout/">Logout</a></p>
              {% endif %}

          </ul>
        </div><!-- /.nav-collapse -->
      </div><!-- /.container -->
    </div><!-- /.navbar -->

    <div class="container">

      <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-xs-12 col-sm-9">
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>
          <div class="jumbotron">
            <h1>Hello, world!</h1>
            <p>这是我学习django后为方便自己的工作而制作的小工具，欢迎你的到来，能帮助我测试一下就更感谢了，没有多复杂，就试着填写一些数据就可以了。另外，你看到的网站是架设在国外主机上的，访问速度会慢一些，这个我也没有办法解决，因为国内主机访问速度快，但是贵很多。</p>
          </div>
          <div class="row">
            <div class="col-6 col-sm-6 col-lg-4">
              <h2>后台实现</h2>
              <p><a href="https://www.djangoproject.com">Django</a>是<a href="https://www.python.org/">Python</a>下开源Web开发框架，最大的优点是可以快速开发数据库应用。我是自学，水平有限，这个工具中也只使用了最基本的编程方法，很笨拙。其实亚马逊的页面就是它实现的，那才是比较高的境界。</p>
              <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div><!--/span-->
            <div class="col-6 col-sm-6 col-lg-4">
              <h2>前台实现</h2>
              <p>前台采用了<a href="http://getbootstrap.com/">Bootstrap</a>框架，它是开源CSS库，直接向网页编写者提供诸如表单、按钮、导航条等样式及实现方法。我的这个页面中也仅仅使用了最简单的方法来使网页展现的漂亮一些。网页框架我直接COPY了<a href="https://www.djangoproject.com">offcanvas</a>。</p>
              <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div><!--/span-->
            <div class="col-6 col-sm-6 col-lg-4">
              <h2>表单呈现</h2>
              <p>所有表单都使用<a href="https://github.com/dyve/django-bootstrap3">django-bootstrap3</a>实现，它提供了针对Django表单组件的全部支持，使得显示表单时节省了大量的代码工作，并很好的将表单验证信息输出，还提供了漂亮的按钮。它是Bootstrap表单组件在django上的快速实现途径。</p>
              <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div><!--/span-->
            <div class="col-6 col-sm-6 col-lg-4">
              <h2>通用视图API</h2>
              <p>Django的通用视图功能强大，直接提供了对数据库的增、查、改、删功能的操作与显示，减少了很多编码的工作，但是比如需要在进入通用视图前需要验证用户这样的工作时，通用视图会遇到一些麻烦，这样的情况下<a href="https://github.com/brack3t/django-braces">django-braces</a>这样的API扩展包提供了很多类似验证用户、权限的功能。我对基于类的视图理解不深，只能慢慢体会。</p>
              <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div><!--/span-->
            <div class="col-6 col-sm-6 col-lg-4">
              <h2>项目代码</h2>
              <p> 项目代码已经上传到<a href="https://github.com/aga0217/kucuntest">github</a>,有兴趣的话可以去看下，欢迎对代码提出意见，在下感激不尽。</p>
              <p><a class="btn btn-default" href="https://github.com/aga0217/kucuntest" role="button">View details &raquo;</a></p>
            </div><!--/span-->
            <div class="col-6 col-sm-6 col-lg-4">
              <h2>项目说明书</h2>
              <p>正在完善中……</p>
              <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div><!--/span-->
          </div><!--/row-->
        </div><!--/span-->

        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
          <div class="list-group">
            <a href="#" class="list-group-item active">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
          </div>
        </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; WeiErSoft 2014</p>
      </footer>

    </div><!--/.container-->



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/static/js/ie10-viewport-bug-workaround.js"></script>

    <script src="/static/js/offcanvas.js"></script>
  </body>
</html>
